{% extends 'user/layout.html' %}

{% block body %}
    <h1>{{ category }}</h1>



    {% for listing in ima %}
        <div class="container border p-2 m-2">
            <div class="row">
                <div class="col">
                    <img src="{{ listing.image.url }}" alt="image" style="width: 300px; height: auto">
                    <a href="{% url 'watch' listing.id %}" type="submit" class="btn btn-primary">Go To Listing</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}